<!DOCTYPE html>

<html lang="en">
<head>

  {% block title %}<title>Сайт для чтения книг</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
 {% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
      <ul class="sidebar-nav">

          <li><a href="{% url 'index' %}"><button><h4>Стартовая страница</h4></button></a></li>
          <li><a href="{% url 'books' %}">Список всех книг</a></li>
          <li><a href="{% url 'authors' %}">Список всех авторов</a></li>
          <li><a href="{% url 'genres' %}">Список всех жанров</a></li>
          {% if user.is_authenticated %}
   <li>Пользователь: <a href="{% url 'my-borrowed' %}">{{ user.get_username }}</a></li>
   <li><a href="{% url 'logout' %}?next={% url 'index' %}">Logout</a></li>
   {% else %}
   <li><a href="{% url 'login' %}?next={% url 'index' %}">Login</a></li>
   <li><a href="{% url 'user-create' %}?next={% url 'index' %}">Registration</a></li>
   {% endif %}
        <img src="{% static 'img/Icon.jpg' %}" alt= " no show " weight="100px" height="100px">
      </ul>
     {% endblock %}

      </div>
      <div class="col-sm-10">
      {% block content %}{% endblock %}

          {% block pagination %}
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">предыдущая</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">следующая</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
{% endblock %}
      </div>
    </div>

  </div>

</body>
</html>